{%extends 'testapp/base.htm' %} {%block body_block%}
<div class="jumbotron" align="center">
    <div class="container">
        <h1>WELCOME TO EXAMS</h1>
        <h2>Rules</h2>
        <ul>
            <li>rule1-You should write only exam</li>
            <li>rule1-You should write only exam</li>
            <li>rule1-You should write only exam</li>
            <li>rule1-You should write only exam</li>
            <li>rule1-You should write only exam</li>
            <li>rule1-You should write only exam</li>
            <li>rule1-You should write only exam</li>
            <li>rule1-You should write only exam</li>
            <li>rule1-You should write only exam</li>
        </ul>
    </div>
</div>
{%endblock %}